---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Flipbook from '../../components/Flipbook.astro';

// Redirect to latest issue (36)
return Astro.redirect('/newsletter/36');
---

<Layout title="光禾通訊 | 光禾華德福">
  <Navigation />
  <p>正在跳轉...</p>
</Layout>